html { width: 100%; height: 100% }
body { width: 100%; height: 100%; margin: 0; padding: 0;font-family: 'microsoft yahei', sans-serif; color: #666; background-color: #fff }
h1, h2, h3, h4, h5, h6 { margin: 0 0 30px; text-transform: uppercase; font-family: Montserrat, sans-serif; font-weight: 700; letter-spacing: 1px }
p { margin: 0 0 20px; font-size: 16px; line-height: 1.6em }
a { color: #046556; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out; text-decoration: none }
#intro a { color: #03fbd3; }
a:hover, a:focus { text-decoration: none; color: #9b17ef; }
address { margin-left: 0; padding: 0 }
.section-heading { margin-bottom: 50px !important }

.row-flex-box { display: -webkit-flex; display: flex;overflow: hidden; }
.row-flex { width: 25%; }
.home-section { text-align: center; padding-top: 40px; padding-bottom: 10px; display: block; position: relative; z-index: 120 }
.section-heading h2 { font-size: 40px }
.section-heading i { margin-bottom: 20px }
.bg-gray { background: #f8f8f8 }
@font-face { font-weight: normal; font-style: normal; font-family: 'ecoicons' }

.gn-menu-main, .gn-menu-main ul { margin: 0; padding: 0; background: #fff; color: #9b17ef; list-style: none; text-transform: none; font-weight: 300; font-family: 'Lato', Arial, sans-serif; line-height: 60px; z-index: 150 }
.gn-menu-main { position: fixed; top: 0; left: 0; width: 100%; height: 60px; font-size: 13px }
.gn-menu-main a { display: block; height: 100%; color: #9b17ef; text-decoration: none; cursor: pointer }
.no-touch .gn-menu-main a:hover, .no-touch .gn-menu li.gn-search-item:hover, .no-touch .gn-menu li.gn-search-item:hover a { background: #9b17ef; color: white }
.gn-menu-main>li { display: block; float: left; height: 100%; border-right: 1px solid #c6d0da; text-align: center }
.gn-menu-main li.gn-trigger { position: relative; width: 60px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.gn-menu-main>li:last-child { float: right; border-right: 0 }
.gn-menu-main>li>a { padding: 0 30px; text-transform: uppercase; letter-spacing: 1px; font-weight: bold }
.gn-menu-main:after { display: table; clear: both; content: "" }
.gn-menu-wrapper { position: fixed; top: 60px; bottom: 0; left: 0; overflow: hidden; width: 60px; border-top: 1px solid #c6d0da; background: white; -webkit-transform: translateX(-60px); -moz-transform: translateX(-60px); transform: translateX(-60px); -webkit-transition: -webkit-transform .3s, width .3s; -moz-transition: -moz-transform .3s, width .3s; transition: transform .3s, width .3s }
.gn-scroller { position: absolute; overflow-y: scroll; width: 370px; height: 100% }
.gn-menu { border-bottom: 1px solid #c6d0da; text-align: left; font-size: 18px }
.gn-menu li:not(:first-child), .gn-menu li li { box-shadow: inset 0 1px #c6d0da }
.gn-submenu li { overflow: hidden; height: 0; -webkit-transition: height .3s; -moz-transition: height .3s; transition: height .3s }
.gn-submenu li a { color: #c1c9d1 }
input.gn-search { position: relative; z-index: 10; padding-left: 60px; outline: 0; border: 0; background: transparent; color: #9b17ef; font-weight: 300; font-family: 'Lato', Arial, sans-serif; cursor: pointer; font-size: 19px }
.gn-search::-webkit-input-placeholder { color: #9b17ef }
.gn-search:-moz-placeholder { color: #9b17ef }
.gn-search::-moz-placeholder { color: #9b17ef }
.gn-search:-ms-input-placeholder { color: #9b17ef }
.gn-search:focus::-webkit-input-placeholder, .no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder { color: transparent }
input.gn-search:focus { cursor: text }
.no-touch .gn-menu li.gn-search-item:hover input.gn-search { color: white }
.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder { color: white }
.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder { color: white }
.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder { color: white }
.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder { color: white }
.gn-menu-main a.gn-icon-search { position: absolute; top: 0; left: 0; height: 60px }
.gn-icon::before { display: inline-block; width: 60px; text-align: center; text-transform: none; font-weight: normal; font-style: normal; font-variant: normal; font-family: 'ecoicons'; line-height: 1; speak: none; -webkit-font-smoothing: antialiased }
.gn-icon-cog::before { content: "♧" }
.gn-icon-search::before { content: "♢" }
.gn-icon-download::before { content: "♡" }
.gn-icon-archive::before { content: "♤" }
.gn-icon span { width: 0; height: 0; display: block; overflow: hidden }
.gn-icon-menu::before { margin-left: -15px; vertical-align: -2px; width: 30px; height: 3px; background: #9b17ef; box-shadow: 0 3px white, 0 -6px #9b17ef, 0 -9px white, 0 -12px #9b17ef; content: '' }
.no-touch .gn-icon-menu:hover::before, .no-touch .gn-icon-menu.gn-selected:hover::before { background: white; box-shadow: 0 3px #9b17ef, 0 -6px white, 0 -9px #9b17ef, 0 -12px white }
.gn-icon-menu.gn-selected::before { background: #9b17ef; box-shadow: 0 3px white, 0 -6px #9b17ef, 0 -9px white, 0 -12px #9b17ef }
.gn-menu-wrapper.gn-open-all, .gn-menu-wrapper.gn-open-part { -webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px) }
.gn-menu-wrapper.gn-open-all { width: 340px }
.gn-menu-wrapper.gn-open-all .gn-submenu li { height: 60px }
@media screen and (max-width:422px) {
	.gn-menu-wrapper.gn-open-all { -webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px); width: 100% }
	.gn-menu-wrapper.gn-open-all .gn-scroller { width: 130% }
}
.intro { width: 100%; position: relative }
#intro { background-image: url(../img/bg.jpg); background-size: cover }
.intro .slogan { padding: 250px 0 60px; text-align: center }
.intro .slogan h1 { color: #fff; line-height: 1.1em; margin-bottom: 20px; font-size: 40px }
.intro .slogan p { color: #eee; margin-bottom: 50px; font-size: 20px }
.boxed-grey { background: #eee; padding: 20px }
.team h5 { margin-bottom: 10px }
.team p.subtitle { margin-bottom: 10px }
.avatar { margin-bottom: 20px }
footer { text-align: center; padding: 50px 0 10px 0; background: #9b17ef }
footer p { color: #f8f8f8 }
.btn-skin:hover, .btn-skin:focus, .btn-skin:active, .btn-skin.active { padding: 10px;color: #fff; background-color: #666; border-color: #666; border-radius: 4px }
@media(min-width:767px) {
	.intro { height: 100%; padding: 0; }
}
@media(max-width:768px) {
	.team.boxed-grey { margin-bottom: 30px; }
	.boxed-grey { margin-bottom: 30px; }
	.intro .slogan { padding: 100px 0 60px; }
}
@media(max-width:480px) {
	.intro .slogan { padding: 170px 0 60px; }
}