<!doctype html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
    <title>Xzavier's Blog</title>
    <link rel="canonical" href="ampback.html">
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
        * { -webkit-tap-highlight-color: rgba(255,255,255,0);outline:none; }
        html { width: 100%; height: 100% }
        body { width: 100%; height: 100%; margin: 0; padding: 0;font-family: 'microsoft yahei', sans-serif; color: #666; background-color: #fff; }
        h1, h2, h3, h4, h5, h6 { margin: 0 0 30px; text-transform: uppercase; letter-spacing: 1px }
        a { color: #666; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out; text-decoration: none; cursor: pointer; }
        .nav-menu-main { position: fixed; top: 0; left: 0; width: 100%; height: 60px; margin: 0; padding: 0; background: #fff; color: #9b17ef; list-style: none; text-transform: none; font-weight: 300; font-family: 'microsoft yahei', sans-serif; line-height: 60px; z-index: 150; }
        .nav-menu-main a { display: block; height: 100%; color: #9b17ef; }
        .nav-menu-main .menu-item { display: block; float: left; height: 100%; border-right: 1px solid #c6d0da; text-align: center; }
        .nav-menu-main .menu-item:last-child { float: right; border-right: 0; }
        .nav-menu-main .menu-item>a { padding: 0 30px; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;font-family: 'Lato'; }
        .nav-menu-main::after { display: table; clear: both; content: ""; }
        .nav-icon::before { display: inline-block; width: 60px; text-align: center; }
        .nav-icon-menu::before { margin-left: -15px; vertical-align: -2px; width: 30px; height: 3px; background: #9b17ef; box-shadow: 0 3px white, 0 -6px #9b17ef, 0 -9px white, 0 -12px #9b17ef; content: ''; }
        .nav-menu { text-align: left; font-size: 18px;list-style: none;margin: 0; padding: 0; background: #fff; color: #9b17ef; list-style: none; text-transform: none; font-weight: 300; font-family: 'Lato', Arial, sans-serif; line-height: 60px; z-index: 150; }      
        .nav-menu li { border-bottom: 1px solid #c6d0da;min-width: 180px; }
        .nav-menu li a { display: block; height: 100%; color: #9b17ef; } 
        .nav-icon-cog::before { content: "♧"; }
        .nav-icon-search::before { content: "♢"; }
        .nav-icon-download::before { content: "♡"; }
        .nav-icon-archive::before { content: "♤"; }
        #sidebar1 { margin-top: 60px;background: #fff; }
        .btn-skin:hover, .btn-skin:focus, .btn-skin:active { padding: 10px;color: #fff; background-color: #666; border-radius: 4px }
        .flex-box { display: -webkit-flex; display: flex;overflow: hidden; }
        .flex-row { width: 25%; }
        .light-box { background: rgba(0,0,0,0.8);width: 100%;height: 100%;position: absolute;display: flex;align-items: center;justify-content: center; }
        .close-lbox { position: absolute;top: 100px;left: 50%;margin-left: -20px;width: 40px;height: 40px;line-height: 40px;text-align: center;background: #fff;color: #333;border-radius: 50%; }
        .light-box p { color: #fff; width: 78%;text-align: center; }
        .my-section { text-align: center; padding: 40px 0 10px; display: block; position: relative; }
        .section-box { margin-bottom: 50px; }
        .section-box h2 { font-size: 40px; }
        .section-box a { color: #666;}
        .section-box a:hover, .section-box a:focus { text-decoration: none; color: #9b17ef; }
        .bg-gray { background: #f8f8f8; }
        .intro { width: 100%; height: 100%; padding: 0;position: relative; background-image: url('https://xiaohuazheng.github.io/img/about-me-bg.jpg'); background-size: cover; }
        .intro .slogan { padding: 250px 0 60px; text-align: center; }
        .intro .slogan h1 { color: #fff; line-height: 1.1em; margin-bottom: 20px; font-size: 40px; }
        .intro .slogan p { color: #eee; margin-bottom: 50px; font-size: 20px; }
        .info-box { background: #eee; padding: 20px; }
        .info-box h5 { margin-bottom: 10px; }
        .info-box p { margin-bottom: 10px; }
        footer { text-align: center; padding: 50px 0 10px 0; background: #9b17ef; }
        footer p { color: #f8f8f8 }
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
<body>
    
    {{ content }}
</body>
</html>